body {
    font-family: Arial, sans-serif;
}

footer h5 {
    font-weight: bold;
}

footer p {
    margin: 0;
}

.about-us-section {
    background: linear-gradient(to bottom, #00c853, #fff);
}

.about-us-section h2 {
    font-weight: bold;
}

.about-us-section p {
    margin: 0;
}

.about-us-section a.btn {
    font-weight: bold;
    text-transform: uppercase;
}

.carousel-controls {
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 15;
}

.swiper-button-prev, .swiper-button-next {
    position: relative;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    transition: background-color 0.3s;
}

.dot.active {
    width: 24px;
    height: 4px;
    border-radius: 2px;
    background-color: #28ff52;
    border: 2px solid #28ff52;
}
